html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url('./resources/background.jpg');
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
}

.show {
    visibility: visible;
}

.hide {
    display: none;
}



/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(105, 105, 105, 100);
}

h1 {
    color: white;
}

.player-img, 
.computer-img {
    width: 8%;
}


/* Content - Rules */

.content {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: white;
    background-color: darkorange;
    margin: 3% 30%;
    padding: 1%;
}


/* Content - Results */

.results {
    display: flex;
    justify-content: space-evenly;
}

.player-score,
.computer-score {
    background-color: gold;
    text-align: center;
    height: 12vh;
    width: 8vw;
}

.player-score {
    margin-left: 8%;
}

.computer-score {
    margin-right: 8%;
}

.results-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-evenly;
    height: 38vh;
    width: 70vw;
}

.images>img {
    width: 30%;
}

.text {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    height: 13vh;
    width: 20vw;
    margin: 5%;
}

.text>p, 
.text>button {
    text-align: center;
}

.text>button {
    width: 50%;
    margin: auto;
}


/* Content - Gameplay */

.gameplay {
    display: flex;
    justify-content: center;
}

/* Footer */

.footer {
    background-color: black;
}

.footer>p {
    color: white;
    text-align: center;
}

p>a {
    color: lightblue;
}


