/* averia-libre-regular - latin */
@font-face {
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;
    src: url('./resources/fonts/averia-libre-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fonts/averia-libre-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fonts/averia-libre-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fonts/averia-libre-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./resources/fonts/averia-libre-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fonts/averia-libre-v16-latin-regular.svg#AveriaLibre') format('svg'); /* Legacy iOS */
}
/* averia-libre-italic - latin */
@font-face {
    font-family: 'Averia Libre';
    font-style: italic;
    font-weight: 400;
    src: url('./resources/fonts/averia-libre-v16-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fonts/averia-libre-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fonts/averia-libre-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fonts/averia-libre-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./resources/fonts/averia-libre-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fonts/averia-libre-v16-latin-italic.svg#AveriaLibre') format('svg'); /* Legacy iOS */
}
/* averia-libre-700 - latin */
@font-face {
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 700;
    src: url('./resources/fonts/averia-libre-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fonts/averia-libre-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fonts/averia-libre-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fonts/averia-libre-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./resources/fonts/averia-libre-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fonts/averia-libre-v16-latin-700.svg#AveriaLibre') format('svg'); /* Legacy iOS */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    75%, 100% { opacity: 1; }
}

@keyframes fadeOut {
    0%, 75% { opacity: 1; }
    100% { opacity: 0; }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('./resources/background.jpg');
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'Averia Libre', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.show {
    visibility: visible;
}

.hide {
    display: none;
}

.fade-in {
    animation: fadeIn 2s;
}

.fade-in-fast {
    animation: fadeIn 1s;
}

.fade-out {
    animation: fadeOut 2s;
}

.fade-out-fast {
    animation: fadeOut 1s;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(105, 105, 105, 70%);
}

h1 {
    color: white;
    font-style: italic;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    word-spacing: 0.1em;
    letter-spacing: 0.05em;
}

.player-img, 
.computer-img {
    width: 8%;
}


/* Content - Rules */

.content {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: white;
    background-color: darkorange;
    margin: 3% 25%;
    padding: 1%;
    font-size: 30px;
    letter-spacing: 0.02em;
    border: 3px solid black;
    border-radius: 10px;
}


/* Content - Results - Scores */

.results {
    display: flex;
    justify-content: space-evenly;
}

.player-score,
.computer-score {
    background-color: gold;
    text-align: center;
    height: 50%;
    width: 12%;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 10px;
}

.player-score {
    margin-left: 15%;
}

.invisible {
    visibility: hidden;
}

.computer-score {
    margin-right: 15%;
}

.player-score-top,
.computer-score-top {
    margin-top: 12%;
    margin-bottom: 10%;
}

#player,
#computer {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 10%;
}


/* Content - Results - Images */

.results-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-evenly;
    height: 80%;
    width: 80%;
}

#player-result,
#computer-result {
    width: 45%;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
}

#end-result {
    width: 70%;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid black;
    border-radius: 10px;
}


/* Content - Results - Text */

.text {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    height: 25%;
    width: 40%;
    margin: 5%;
    font-size: 24px;
    border: 3px solid black;
    border-radius: 10px;
}

.text > p, 
.text > button {
    text-align: center;
}

.text > button {
    width: 80%;
    margin: 10% auto;
    padding: 5%;
    font-family: 'Averia Libre', sans-serif;
    font-size: 24px;
    border: 3px solid black;
    border-radius: 10px;
}

.text > button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#result-text-1 {
    margin-top: 3%;
}

#result-text-2 {
    margin-top: 0px;
    margin-bottom: 3%;
}


/* Content - Gameplay */

.gameplay {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.gameplay > button {
    background-color: #046c13;
    margin-left: 1%;
    margin-right: 1%;
    width: 13%;
    border: 3px solid black;
    border-radius: 10px;
}

.gameplay > button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#feather > img,
#egg > img,
#beak > img {
    width: 60%;
}


/* Footer */

.footer {
    background-color: black;
}

.footer > p {
    color: white;
    text-align: center;
}

p > a {
    color: lightblue;
}


